<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>Nott</title>
    {% load staticfiles %}
    {% if DEBUG %}
        <link rel="shortcut icon" href="{% static 'images/favicon-dev.png' %}">
    {% else %}
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/code-syntax.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">
</head>
<body>

    <!-- Top bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i></a>
            </div>
            {% if user.is_authenticated %}
                <!-- Left -->
                <ul class="nav navbar-nav">
                    {% block nav_notes %}
                        <li><a href="{% url 'index' %}">Notes</a></li>
                    {% endblock %}
                    {% block nav_userlist %}
                        <li><a href="{% url 'userlist' %}">Users</a></li>
                    {% endblock %}
                    {% if user.is_authenticated %}
                        {% block nav_profile %}
                            <li><a href="{% url 'profile' user_id='me' %}">Profile</a></li>
                        {% endblock %}
                    {% endif %}
                </ul>
                <!-- Right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button role="button" type="submit" class="btn btn-link logout">Logout</button>
                        </form>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <!-- Window content -->
    <div class="container-fluid">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% if DEBUG %}
        <script data-main="public/js/src/main" src="{% static 'js/libs/require.min.js' %}"></script>
    {% else %}
        <script src="public/js/libs/require.min.js"></script>
        <script>
            require.config({
                paths: {
                    'app': 'public/js/app'
                }
            });
            require(['app']);
        </script>
    {% endif %}
</body>
</html>