<!-- List of folders and notepads -->
<div class="sidebar-first">
    <h4>
        Notepads
        <span id="new-folder-notepad" class="pull-right">
            <i class="glyphicon glyphicon-plus"></i>
        </span>
    </h4>
    <ul class="nav nav-sidebar"></ul>

    <!-- Search form -->
    <div class="search-block">
        <form id="search-form" action="javascript:void(0);">
            <div class="form-group">
                <input type="text" name="search" class="form-control input-sm" placeholder="Search" autocomplete="off">
                <span class="search">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
    </div>
</div>

<!-- List of notes -->
<div class="sidebar-second">
    <h4>
        Notes
        <span id="new-note" class="pull-right">
            <i class="glyphicon glyphicon-plus"></i>
        </span>
    </h4>
    <ul class="nav nav-sidebar"></ul>
</div>

<!-- Main block -->
<div class="editor-block">
    <ul class="nav nav-tabs" role="tablist"></ul>
    <div class="tab-content"></div>
</div>
