# Python
/venv/
__pycache__/
*.pyc

# OS, tools
/.idea/
.DS_Store

# DB dumps
*dump*.sql

# Any logs
*.log

# Static, media
/project/media/

# Old JS project
/project/public/js/script.js

# Builds
/project/public/js/app.js
/install
/notes.tar.gz

# Secrets
/pass.ini

# Some thougths
/etc/

# JSCS linter is install with NPM
node_modules/