# OS, Tools
/.vscode/
/.idea/

# Python
/venv/
__pycache__/
*.pyc

# JavaScript
node_modules/
package-lock.json

# Secrets
/secrets.env

# DB dump
*.backup

# Any logs
*.log

# Static, media
/project/media/

# Builds
/project/public/js/app.js
/project/public/js/app.min.js

# Deploy
/deploy/ansible/*.retry

# Some thougths
/etc/
