# Python
/venv/
__pycache__/
*.pyc

# JavaScript
project/public/js/node_modules/

# OS, tools
/.idea/
.DS_Store

# DB dump
*dump*.sql

# Any logs
*.log

# Static, media
/project/media/

# Builds
/project/public/js/app.js
/install

# Secrets
/pass.ini

# Some thougths
/etc/
