ADMIN_EMAIL=admin@example.com
DJANGO_SECRET_KEY=11111111111111111111111111111111111111111111111111
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_NAME=db_nott
POSTGRES_PASSWORD=123
POSTGRES_USER=pguser
REMOTE_USER=bob
SERVER_DNS=example.com
SERVER_SSH_PORT=22
DROPBOX_TOKEN=abc123
