<div class="page auth">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Login</h1>
        </div>
    </div>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input name="username" placeholder="Username" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
                <input name="password" placeholder="Password" class="form-control" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <input class="btn btn-block btn-primary" type="submit" value="Sign in">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="auth-mode">
                    <a class="goto" href="/register">Register</a>
                </div>
                <div class="auth-errors text-danger"></div>
            </div>
        </div>
    </form>
</div>
