/* -------------------------------------- */
/* Top navbar                             */
/* ---------------------------------------*/
.navbar-inverse {
    border-radius: 0;
}

/* ---------------------------------------*/
/* Left sidebar                           */
/* ---------------------------------------*/
.sidebar-first {
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #eee;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 52px;
    left: 0px;
    bottom: 0;
    width: 250px;
    height: auto;
}

.sidebar-second {
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #eee;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 52px;
    left: 250px;
    bottom: 0;
    width: 250px;
    height: auto;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
}

.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 10px;
}

.nav-sidebar > li:hover > a {
    background-color: #eee;
    color: #23527c;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active:hover > a,
.nav-sidebar > .active > a:focus {
    background-color: #e9e9e9;
}


/* ---------------------------------------*/
/* Action buttons on siderbar             */
/* ---------------------------------------*/
.form-group {
    position: relative;
}

span.link-add,
span.link-edit,
span.link-del {
    float: right;
    position: absolute;
    padding: 0px;
    display: none;
}

span.link-add {
    right: 12px;
    top: 5px;
}

span.link-edit {
    right: 44px;
    top: 10px;
}

span.link-del {
    right: 19px;
    top: 10px;
}

/* Show buttons on row hover */
.form-group:hover > span.link-add,
.nav-sidebar > li:hover > span.link-edit,
.nav-sidebar > li:hover > span.link-del,
/* Don't hide buttons of active elements */
.form-group > input:focus + span.link-add,
.nav-sidebar > .active > span.link-edit,
.nav-sidebar > .active > span.link-del
 {
    display: inline;
    cursor: pointer;
}


/* ---------------------------------------*/
/* Working space                          */
/* ---------------------------------------*/
.main {
    position: fixed;
    top: 52px;
    left: 500px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    height: auto;
    width: auto;
}


/* ---------------------------------------*/
/* WYSIWYG editor                         */
/* ---------------------------------------*/
.note-editor {
    /*height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);*/
}

.note-editable {
    font-family: 'Ubuntu Mono';
    font-size: 14px;
    height: 100%;
}

.main .row {
    padding: 15px;
}


/* ---------------------------------------*/
/* Flash messages                         */
/* ---------------------------------------*/
.flash-overlay {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 10;
}


/* ---------------------------------------*/
/* Modal dialogs                          */
/* ---------------------------------------*/
.modal-dialog {
    width: 350px;
}


/* ---------------------------------------*/
/* Login/register page                    */
/* ---------------------------------------*/
.page {
    padding: 100px;
    
}