<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>Notes</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/summernote.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/trumbowyg.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/summernote.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/trumbowyg.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</head>
<body>

<!-- Top bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{% url 'logout' %}">Logout ({{user.email}})</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Window content -->
<div class="container-fluid">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

<!-- Error/info message -->
<div id="flash-message" class="flash-overlay">
    <h3><span class="label"></span></h3>
</div>

</body>
</html>