{% extends "main/base.html" %}
{% block content %}
{% load widget_tweaks %}


<!-- List of notepads -->
<div class="sidebar-first">
    <ul class="nav nav-sidebar">
        <li>
            <h4>Notepads</h4>
        </li>
        {% for notepad in user.notepads.all %}
        <li {% if notepad == current_notepad %}class="active"{% endif %}>
            <a href="#" class="link-get" data-id="{{notepad.id}}" data-type="notepad">
                {{notepad.title}}
            </a>
            <span class="link-edit">
                <i class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target="#modal-edit" data-type="notepad" data-id="{{notepad.id}}"></i>
            </span>
            <span class="link-del">
                <i class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#modal-del" data-type="notepad" data-id="{{notepad.id}}"></i>
            </span>
        </li>
        {% endfor %}
        <!-- New notepad -->
        <li>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" hidden value="notepad">
                    {% render_field form_notepad.title class="form-control input-sm" placeholder="New notepad" %}
                    <span class="link-add">
                        <i class="glyphicon glyphicon-plus text-primary"></i>
                    </span>
                </div>
            </form>
        </li>
    </ul>
</div>
<!-- List of notes -->
<div class="sidebar-second">
    <ul class="nav nav-sidebar">
        <li>
            <h4>Notes</h4>
        </li>
        {% if current_notepad %}
        {% for note in current_notepad.notes.all %}
        <li {% if note == current_note %}class="active"{% endif %}>
            <a href="{% url 'note' note_id=note.id %}">
                {{note.title}}
            </a>
            <span class="link-edit">
                <i class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target="#modal-edit" data-type="note" data-id="{{note.id}}"></i>
            </span>
            <span class="link-del">
                <i class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#modal-del" data-type="note" data-id="{{note.id}}"></i>
            </span>
        </li>
        {% endfor %}
        {% endif %}
        <!-- New note -->
        <li>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" hidden value="note">
                    {% render_field form_note.title class="form-control input-sm" placeholder="New note" %}
                    <span class="link-add" href="#">
                        <i class="glyphicon glyphicon-plus text-primary"></i>
                    </span>
                </div>
            </form>
        </li>
    </ul>
</div>


<!-- Main block -->
<div class="main">
    {% if current_note %}
    <div id="summernote">{{current_note.text|safe}}</div>
    <div class="row text-center">
        <div class="col-md-2 col-md-offset-5">
            <input id="btn-save" class="btn btn-primary form-control" type="submit" value="Save">
        </div>
    </div>
    {% endif %}
</div>


<!-- Notes -->
<div id="flash-block-success" class="flash-overlay">
    <h3><span class="label label-primary">Saved successfully</span></h3>
</div>
<div id="flash-block-fail" class="flash-overlay">
    <h3><span class="label label-danger">Error</span></h3>
</div>


<!-- Modal windows for renaming -->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Enter new title</h4>
            </div>
            <div class="modal-body">
                <input id="modal-edit-title" name="title" type="text" class="form-control">
                <input id="modal-edit-id" name="id" type="text" value="0" hidden>
                <input id="modal-edit-type" name="type" type="text" value="0" hidden>
            </div>
            <div class="modal-footer">
                <button id="modal-edit-submit" type="button" class="btn btn-primary btn-modal-submit">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal window for delete confirmation -->
<div class="modal fade" id="modal-del" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Are you shure you want to delete this?
                <input id="modal-del-id" name="id" type="text" value="0" hidden>
                <input id="modal-del-type" name="type" type="text" value="0" hidden>
            </div>
            <div class="modal-footer">
                <button id="modal-del-submit" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}