{% extends "main/base.html" %}
{% block content %}


<div class="sidebar-first">
    <ul class="nav nav-sidebar">
        {% for notepad in user.notepads.all %}
        <li {% if notepad == current_notepad %}class="active"{% endif %}>
            <a href="{% url 'notepad' notepad_id=notepad.id %}">{{notepad.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="sidebar-second">
    <ul class="nav nav-sidebar">
        {% for note in current_notepad.notes.all %}
        <li>
            <a href="{% url 'note' note_id=note.id %}">{{note.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>


<div class="main">
    <div id="summernote">Hello Summernote</div>
    <div class="row text-center">
        <div class="col-md-2 col-md-offset-5">
            <input id="btn-save" class="btn btn-primary form-control" type="submit" value="Save">
        </div>
    </div>
    <!-- <form method="POST">
        {% csrf_token %}
        <input type="submit" value="OK">
    </form> -->
</div>


 

{% endblock %}