{% extends "main/base.html" %}
{% block content %}
{% load widget_tweaks %}


<!-- Список блокнотов -->
<div class="sidebar-first">
    <ul class="nav nav-sidebar">
        <li>
            <h4>Блокноты</h4>
        </li>
        {% for notepad in user.notepads.all %}
        <li {% if notepad == current_notepad %}class="active"{% endif %}>
            <a href="{% url 'notepad' notepad_id=notepad.id %}">{{notepad.title}}</a>
        </li>
        {% endfor %}
        <!-- Новый блокнот -->
        <li>
            <form class="form-inline" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form_notepad.title class="form-control input-sm" placeholder="New notepad" %}
                </div>
                <div class="form-group">
                    <button type="submit" name="new-notepad" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </form>
        </li>
    </ul>
</div>
<!-- Список заметок -->
<div class="sidebar-second">
    <ul class="nav nav-sidebar">
        <li>
            <h4>Заметки</h4>
        </li>
        {% if current_notepad %}
        {% for note in current_notepad.notes.all %}
        <li {% if note == current_note %}class="active"{% endif %}>
            <a href="{% url 'note' note_id=note.id %}">{{note.title}}</a>
        </li>
        {% endfor %}
        <!-- Новая заметка -->
        <li>
            <form class="form-inline" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {% render_field form_note.title class="form-control input-sm" placeholder="New note" %}
                </div>
                <div class="form-group">
                    <button type="submit" name="new-note" class="btn btn-sm btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </form>
        </li>
        {% endif %}
    </ul>
</div>


<div class="main">
    {% if current_note %}
    <div id="summernote">{{current_note.text}}</div>
    <div class="row text-center">
        <div class="col-md-2 col-md-offset-5">
            <input id="btn-save" class="btn btn-primary form-control" type="submit" value="Save">
        </div>
    </div>
    {% endif %}
</div>


 

{% endblock %}