{% extends "main/base.html" %}
{% block content %}
{% load static %}

<div class="content">

    <h1>Users</h1>
    <hr>

    <div class="row">
        {% for user in users %}
        <div class="col-md-3 usercard">
            <div class="upper">
                <img src="">
            </div>
            <div class="middle text-center">
                <img src="{% get_static_prefix %}images/no_avatar.png">
            </div>
            <div class="lower text-center">{{user.username}}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}