{% extends "web/base.html" %}
{% block content %}

<div class="page col-md-6 col-md-offset-3 ">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#signin" role="tab" data-toggle="tab">Sign In</a>
        </li>
        <li>
            <a href="#signup" role="tab" data-toggle="tab">Sign Up</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Sign in -->
        <div role="tabpanel" class="tab-pane active" id="signin">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Sign In</h1>
                </div>
            </div>
            <form class="form-horizontal" role="form" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="form-control" name="username" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="form-control" name="password" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="btn btn-block btn-primary" type="submit" value="Sign in">
                    </div>
                </div>
            </form>
        </div>

        <!-- Sign up -->
        <div role="tabpanel" class="tab-pane" id="signup">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Sign Up</h1>
                </div>
            </div>
            <form class="form-horizontal" role="form" action="" method="POST">
                {% csrf_token %}
                <input class="form-control" name="reg" type="hidden" value=1>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="form-control" name="username" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="form-control" name="email" type="email" placeholder="E-mail">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="form-control" name="password" type="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="form-control" type="password" placeholder="Confirm password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <input class="btn btn-block btn-primary" type="submit" value="Sign up">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}