{% extends "web/base.html" %}
{% load widget_tweaks %}

{% block nav_notes %}
<li class="active"><a href="{% url 'index' %}">Notes</a></li>
{% endblock %}

{% block content %}

<!-- List of notepads -->
<div class="sidebar-first">
    <h4>Notepads</h4>
    <ul class="nav nav-sidebar">
        {% for notepad in notepads %}
        <li{% if notepad.parent_id != 1 %} class="child"{% endif %} data-type="notepad" data-id="{{notepad.id}}">
            <a href="#" class="link-get">
                {{notepad.title}}
            </a>
            {% if notepad.children.all %}
            <span class="expand">
                <i class="glyphicon glyphicon-triangle-bottom text-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"></i>
            </span>
            {% endif %}
            {% if notepad.parent_id == 1 %}
            <span class="link-add-child">
                <i class="glyphicon glyphicon-plus text-primary"></i>
            </span>
            {% endif %}
            <span class="link-edit">
                <i class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target="#modal-edit"></i>
            </span>
            <span class="link-del">
                <i class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target="#modal-del"></i>
            </span>
        </li>
        {% endfor %}
    </ul>
    <!-- New notepad -->
    <form>
        <div class="form-group" data-type="notepad">
            <input type="text" name="title" class="form-control input-sm" placeholder="New notepad" autocomplete="off">
            <span class="link-add">
                <i class="glyphicon glyphicon-plus text-primary"></i>
            </span>
        </div>
    </form>
</div>

<!-- List of notes -->
<div class="sidebar-second">
    <h4>Notes</h4>
    <ul class="nav nav-sidebar">
    </ul>
    <!-- New note -->
    <form>
        <div class="form-group" data-type="note">
            <input type="text" name="title" class="form-control input-sm" placeholder="New note" disabled autocomplete="off">
            <span class="link-add" data-type="note">
                <i class="glyphicon glyphicon-plus text-primary"></i>
            </span>
        </div>
    </form>
</div>


<!-- Main block -->
<div id="editor-block" style="visibility:hidden;">
    <ul class="nav nav-tabs" role="tablist"></ul>
    <div class="tab-content"></div>
</div>


<!-- Modal windows for renaming -->
<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Enter new title</h4>
            </div>
            <div class="modal-body">
                <input id="modal-edit-title" name="title" type="text" class="form-control" autocomplete="off">
                <input id="modal-edit-id" name="id" type="hidden" value="0">
                <input id="modal-edit-type" name="type" type="hidden" value="0">
            </div>
            <div class="modal-footer">
                <button id="modal-edit-submit" type="button" class="btn btn-primary btn-modal-submit">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal window for delete confirmation -->
<div class="modal fade" id="modal-del" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                Are you shure you want to delete this?
                <input id="modal-del-id" name="id" type="hidden" value="0">
                <input id="modal-del-type" name="type" type="hidden" value="0">
            </div>
            <div class="modal-footer">
                <button id="modal-del-submit" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}