{% extends "web/base.html" %}

{% block nav_profile %}
<li class="active"><a href="{% url 'profile' user_id=user.id %}">Profile</a></li>
{% endblock %}

{% block content %}

<div class="content profile">
    <h1>{{ user.username }}</h1>

    <form class="form-horizontal" role="form" action="" method="post" enctype=multipart/form-data>
        <div class="col-md-2 avatar-block">
            <img class="avatar" src="{{ user.profile.avatar_url }}">
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label class="col-md-2 control-label">E-mail:</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ user.email }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Avatar:</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ user.profile.avatar }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Notepads:</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ user.notepads_count }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Notes:</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ user.notes_count }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Registered:</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ user.date_joined|date:'d.m.Y' }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Last seen:</label>
                <div class="col-md-3">
                    <p class="form-control-static">
                        {{ user.last_login|date:'d.m.Y' }}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2">
                    <a href="{% url 'profile_edit' user_id=user.id %}" class="btn btn-primary col-md-2">Edit</a>
                </div>
            </div>
        </div>
    </form>
</div>



{% endblock %}
