{% extends "web/base.html" %}
{% load static %}

{% block nav_userlist %}
<li class="active"><a href="{% url 'userlist' %}">Users</a></li>
{% endblock %}

{% block content %}

<div class="content userlist">

    <h1>Users</h1>
    <hr>

    <div class="row">
        {% for user in users %}
        <div class="col-md-2 usercard">
            <div class="image-block">
                <a href="#">
                    <img src="{{ user.profile.avatar_url }}">
                </a>
            </div>
            <div class="username-block">
                <a href="#">{{ user.username }}</a>
            </div>
            <div class="stat-block">
                <span>notepads: X</span>
                <span>|</span>
                <span>notes: X</span>
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}