{% extends "web/base.html" %}
{% load static %}

{% block nav_userlist %}
<li class="active"><a href="{% url 'userlist' %}">Users</a></li>
{% endblock %}

{% block content %}

<div class="content userlist">

    <h1>Users</h1>
    <hr>

    <div class="row">
        {% for user in users %}
        <div class="col-md-3 usercard">
            <div class="upper">
                <img src="">
            </div>
            <div class="middle text-center">
                <img src="{{ user.profile.avatar_url }}">
            </div>
            <div class="lower text-center">{{ user.username }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}