{% extends "web/base.html" %}
{% load static %}

{% block nav_userlist %}
<li class="active"><a href="{% url 'userlist' %}">Users</a></li>
{% endblock %}

{% block content %}

<div class="content userlist">

    <h1>Users</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-2">Login</th>
                <th class="col-md-2 text-center">Country</th>
                <th class="col-md-2 text-center">Notepads</th>
                <th class="col-md-2 text-center">Notes</th>
                <th class="col-md-2 text-center">Last seen</th>
                <th class="col-md-2 text-center">Registered</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{% url 'profile' user_id=user.id %}">{{ user.username }}</a></td>
                <td class="text-center"><img src="{{ user.geo_info.country_flag }}"></td>
                <td class="text-center">{{ user.notepads_count }}</td>
                <td class="text-center">{{ user.notes_count }}</td>
                <td class="text-center">{{ user.last_login|date:'d b Y' }}</td>
                <td class="text-center">{{ user.date_joined|date:'d b Y' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}