{% extends "base.html" %}
{% load static %}

{% block nav_adminpanel %}
<li class="active">
    <a href="{% url 'adminpanel' %}">Admin</a>
</li>
{% endblock %}

{% block content %}

<div class="content adminpanel">
    <h1>Admin panel</h1>

    <h3>Version</h3>

    <p>{{ version }}</p>

    <h3>Settings</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1">Setting</th>
                <th class="col-md-1">Value</th>
            </tr>
        </thead>

        <tbody>
            {% for config in configs %}
            <tr>
                <td>{{ config.name }}</td>
                <td>{{ config.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Users</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-1">Login</th>
                <th class="col-md-1">Role</th>
                <th class="col-md-1 text-center">Folders</th>
                <th class="col-md-1 text-center">Notepads</th>
                <th class="col-md-1 text-center">Notes</th>
                <th class="col-md-1 text-center">Last seen</th>
                <th class="col-md-1 text-center">Registered</th>
                <th class="col-md-1 text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for u in users %}
            <tr>
                <td>
                    <a href="{% url 'profile' user_id=u.id %}">{{ u.username }}</a>
                </td>
                <td>{{ u.role.name }}</td>
                <td class="text-center">{{ u.folders_count }}</td>
                <td class="text-center">{{ u.notepads_count }}</td>
                <td class="text-center">{{ u.notes_count }}</td>
                <td class="text-center">{{ u.last_login|date:'d b Y' }}</td>
                <td class="text-center">{{ u.created|date:'d b Y' }}</td>
                <td class="text-center">
                    {% if u != user %}
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-xs btn-default" title="Lock" name="lock">
                            <i class="glyphicon glyphicon-lock"></i>
                        </button>
                        <button type="submit" class="btn btn-xs btn-default" title="Remove" name="lock">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}