body {
    color: #666;
    /*font-family: "Droid Sans Mono";*/
}

@font-face {
    font-family: "Droid Sans Mono";
    src: url("/public/fonts/droid_sans_mono.ttf") format("truetype");
}

/* Top navbar */
.navbar-inverse {
    border-radius: 0;
}

.navbar-inverse .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
}

.navbar-inverse .avatar:hover {
    cursor: pointer;
}

.navbar-nav .logout {
    padding: 13px;
}

.navbar-nav .logout:hover {
    text-decoration: none;
}

/* Overlay objects */
.overlay {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 10;
}

/* Error page */
div.error-page {
    padding: 50px;
}

/* Popup message */
#popup {
    background-color: #222;
    color: #ddd;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#popup .header {
    font-size: 26px;
}

#popup .message {
    font-size: 18px;
}

/* Page content */
.page {
    padding: 70px 100px;
    color: #666;
}
