/* Note editor */
.editor-block > .nav-tabs {
    border-bottom: none;
}

.editor-block > .nav-tabs > li > a {
    padding: 5px 18px 5px 10px;
}

.editor-block > .nav-tabs > li > a > .tab-close {
    display: inline;
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

.editor-block {
    position: fixed;
    top: 52px;
    left: 500px;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    width: auto;
}

.tab-content {
    height: 100%;
}

.tab-pane {
    height: 100%;
}

.nav-tabs > li > a {
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    background-color: #ecf0f1;
    color: #aaa;
}

.nav-tabs > li > a:hover {
    border: 1px solid #ddd; /* override Bootstrap style */
    background-color: #f3f3f3;
}

.editor-panel {
    border: 1px solid #ddd;
    height: 50px;
    padding: 5px;
}

.editor-panel .btn-save {
    border-color: transparent;
    border-radius: 4px;
    float: right;
    height: 37px;
}

.editor {
    color: #333;
    font-family: "Droid Sans Mono";
    font-size: 12px;
    height: -moz-calc(100% - 90px);
    height: -webkit-calc(100% - 90px);
    height: calc(100% - 90px);
}

.editor-content {
    border: none;
    height: 100%;
    line-height: 1.75;
    overflow-y: scroll;
    padding: 5px 10px;
    width: 100%;
}

/* Tables inside notes */
.editor-content td, .editor-content th {
    border: 1px solid #ccc;
    padding: 5px 40px 5px 5px;
}
