/* Modal dialogs */
.modal-dialog {
    width: 350px;
}

.modal-dialog [name="move"] {
    margin-top: 12px;
}

.modal-dialog .radio-type {
    margin-top: 10px;
}

.modal-dialog .error-message {
    padding-top: 14px;
}

option[disabled] {
    background: #ddd;
}
