/* User profile */
.profile .avatar,
.profile-edit .avatar {
    margin: 20px;
    text-align: center;
    width: 200px;
}

.profile .info,
.profile-edit .info {
    width: 400px;
}

.profile .avatar img,
.profile-edit .avatar img {
    margin-bottom: 15px;
}
