/* Sidebars on notes page */

.sidebar-first {
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    position: fixed;
    overflow-x: hidden;
    top: 52px;
    left: 0px;
    bottom: 0;
    width: 250px;
    height: auto;
}

.sidebar-second {
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    position: fixed;
    overflow-x: hidden;
    top: 52px;
    left: 250px;
    bottom: 0;
    width: 250px;
    height: auto;
}

.sidebar-first > h4 > .pull-right,
.sidebar-second > h4 > .pull-right {
    margin-left: 8px;
    font-size: 15px;
}

.sidebar-first > h4 > .pull-right:hover,
.sidebar-second > h4 > .pull-right:hover {
    cursor: pointer;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    border-top: 1px #ddd solid;
}

.nav-sidebar .item {
    padding: 10px 20px;
}

.nav-sidebar .item:hover {
    cursor: pointer;
}

.nav-sidebar .item > a,
.nav-sidebar .item:focus > a {
    text-decoration: none;
    color: #666;
     /* don't leave dark on just clicked folder */
    background-color: rgba(0,0,0,0);
}

.nav-sidebar > form {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-sidebar .item:hover,
.nav-sidebar .item.active {
    background-color: #eee;
}

.nav-sidebar .active > .item,
.nav-sidebar .active > .item:hover,
.nav-sidebar .active > .item:focus {
    background-color: #e9e9e9;
}

.nav-sidebar .glyphicon-folder-open,
.nav-sidebar .glyphicon-folder-close,
.nav-sidebar .glyphicon-paperclip,
.nav-sidebar .glyphicon-file {
    margin-right: 5px;
}

/* Nested folders */
.nav-sidebar .children-block > li > .item {
    padding-left: 40px;
}

.nav-sidebar .children-block > li >
             .children-block > li > .item {
    padding-left: 60px;
}

.nav-sidebar .children-block > li >
             .children-block > li >
             .children-block > li > .item {
    padding-left: 80px;
}

.nav-sidebar .children-block > li >
             .children-block > li >
             .children-block > li >
             .children-block > li > .item {
    padding-left: 100px;
}

/* Action buttons on siderbars */
.form-group {
    position: relative;
}

span.add,
span.edit,
span.del {
    color: #666;
    float: right;
    position: absolute;
    padding: 0px;
    display: none;
}

span.search {
    color: #666;
    float: right;
    position: absolute;
    padding: 0px;
    right: 12px;
    top: 6px;
    display: none;
}

span.add {
    right: 69px;
    top: 10px;
}

span.edit {
    right: 44px;
    top: 10px;
}

span.del {
    right: 19px;
    top: 10px;
}

/* Show buttons on element hover */
.form-group:hover > span.search,
.nav-sidebar .item:hover > span,
/* Don't hide buttons of active elements */
.form-group > input:focus + span.search,
.nav-sidebar .active > .item > span {
    display: inline;
    cursor: pointer;
}

.search-block {
    margin: 0px -21px 20px -20px;
    padding: 20px;
    border-top: 1px #ddd solid;
}
