/* -------------------------------------- */
/* Main                                   */
/* ---------------------------------------*/

/* Top navbar */
.navbar-inverse {
    border-radius: 0;
}

.navbar-inverse .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
}

.navbar-inverse .avatar:hover {
    cursor: pointer;
}

.navbar-nav .logout {
    padding: 13px;
}

.navbar-nav .logout:hover {
    text-decoration: none;
}

/* Overlay objects */
.overlay {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 10;
}

/* Close button for flash message */
#flash-message .label {
    padding-right: 35px;
}

.flash-close {
    position: absolute;
    padding: 7px 0px 6px 6px;
    top: 21px;
    right: 6px;
    border-left: 1px solid #fff;
    color: #fff;
}

.flash-close:hover {
    cursor: pointer;
}

/* Modal dialogs */
.modal-dialog {
    width: 350px;
}

.modal-dialog [name="move"] {
    margin-top: 12px;
}

.modal-dialog .radio-type {
    margin-top: 10px;
}

.modal-dialog .error-message {
    padding-top: 14px;
}

option[disabled] {
    background: #ddd;
}

/* ---------------------------------------*/
/* Login/register page                    */
/* ---------------------------------------*/

.page {
    padding: 100px;
}

.page .tab-content {
    padding: 20px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.auth-errors {
    margin: 15px;
}

/* ---------------------------------------*/
/* Notes page                             */
/* ---------------------------------------*/

.sidebar-first {
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    position: fixed;
    overflow-x: hidden;
    top: 52px;
    left: 0px;
    bottom: 0;
    width: 250px;
    height: auto;
}

.sidebar-second {
    padding: 20px;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    position: fixed;
    overflow-x: hidden;
    top: 52px;
    left: 250px;
    bottom: 0;
    width: 250px;
    height: auto;
}

.sidebar-first > h4 > .pull-right,
.sidebar-second > h4 > .pull-right {
    margin-left: 8px;
    font-size: 15px;
}

.sidebar-first > h4 > .pull-right:hover,
.sidebar-second > h4 > .pull-right:hover {
    cursor: pointer;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    border-top: 1px #ddd solid;
}

.nav-sidebar .item {
    padding: 10px 20px;
}

.nav-sidebar .item:hover {
    cursor: pointer;
}

.nav-sidebar .item > a,
.nav-sidebar .item:focus > a {
    text-decoration: none;
    color: #666;
     /* don't leave dark on just clicked folder */
    background-color: rgba(0,0,0,0);
}

.nav-sidebar > form {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-sidebar .item:hover,
.nav-sidebar .item.active {
    background-color: #eee;
    color: #333;
}

.nav-sidebar .active > .item,
.nav-sidebar .active > .item:hover,
.nav-sidebar .active > .item:focus {
    background-color: #e9e9e9;
}

.nav-sidebar .glyphicon-folder-open,
.nav-sidebar .glyphicon-folder-close,
.nav-sidebar .glyphicon-paperclip,
.nav-sidebar .glyphicon-file {
    margin-right: 5px;
}

/* Nested folders */
.nav-sidebar .children-block > li > .item {
    padding-left: 40px;
}

.nav-sidebar .children-block > li >
             .children-block > li > .item {
    padding-left: 60px;
}

.nav-sidebar .children-block > li >
             .children-block > li >
             .children-block > li > .item {
    padding-left: 80px;
}

.nav-sidebar .children-block > li >
             .children-block > li >
             .children-block > li >
             .children-block > li > .item {
    padding-left: 100px;
}

/* Action buttons on siderbars */
.form-group {
    position: relative;
}

span.add,
span.edit,
span.del {
    float: right;
    position: absolute;
    padding: 0px;
    display: none;
}

span.search {
    float: right;
    position: absolute;
    padding: 0px;
    right: 12px;
    top: 5px;
    display: none;
}

span.add {
    right: 69px;
    top: 10px;
}

span.edit {
    right: 44px;
    top: 10px;
}

span.del {
    right: 19px;
    top: 10px;
}

/* Show buttons on element hover */
.form-group:hover > span.search,
.nav-sidebar .item:hover > span,
/* Don't hide buttons of active elements */
.form-group > input:focus + span.search,
.nav-sidebar .active > .item > span {
    display: inline;
    cursor: pointer;
}

/* WYSIWYG editor */
#editor-block > .nav-tabs {
    border-bottom: none;
}

#editor-block > .nav-tabs > li > a {
    padding: 5px 18px 5px 10px;
}

#editor-block > .nav-tabs > li > a > .tab-close {
    display: inline;
    position: absolute;
    top: 0px;
    right: 5px;
    cursor: pointer;
}

#editor-block {
    position: fixed;
    top: 52px;
    left: 500px;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    width: auto;
}

.tab-content {
    height: 100%;
}

.tab-pane {
    height: 100%;
}

.nav-tabs > li > a {
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    background-color: #ecf0f1;
    color: #aaa;
}

.nav-tabs > li > a:hover {
    border: 1px solid #ddd; /* override Bootstrap style */
    background-color: #f3f3f3;
}

@font-face {
    font-family: 'Droid Sans Mono';
    src: url('http://lily.local/public/fonts/droid_sans_mono.ttf') format('truetype');
}

.editor {
    height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
    height: calc(100% - 70px);
    font-family: 'Droid Sans Mono';
    font-size: 12px;
}

.trumbowyg-box {
    width: 100%;
    margin: 0px;
}

.btn-save {
    position: absolute;
    top: 2px;
    right: 2px;
}

/* ---------------------------------------*/
/* Userlist                               */
/* ---------------------------------------*/

.content {
    padding: 50px 100px;
    color: #333;
}

/* ---------------------------------------*/
/* User profile                           */
/* ---------------------------------------*/

.profile .avatar-block {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 180px;
    height: 180px;
}

.profile .avatar {
    max-width: 180px;
    max-height: 180px;
}

.map {
    border: 1px solid #ccc;
    width:402px;
    height:402px;
}

.map h3 {
    position: absolute; color: red;
    top: 173px;
    left: 163px;
    color: #aaa;
}
