/* User profile */
.profile .avatar-block {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 180px;
    height: 180px;
}

.profile .avatar {
    max-width: 180px;
    max-height: 180px;
}

.map {
    border: 1px solid #ccc;
    width:402px;
    height:402px;
}

.map h3 {
    position: absolute;
    top: 173px;
    left: 163px;
    color: #aaa;
}
